<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-content>
    <ion-item class="header">
      Achat de crédit
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MMM" value="2021-03-17"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Heure</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Montant</ion-label>
      <ion-input placeholder="montant..."></ion-input>
    </ion-item>
    <ion-button expand="block">
      Valider
    </ion-button>
  </ion-content>
</ion-content>