<ion-header [translucent]="true">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item  [style.--background]="main_color" class="main-header">
    Appel
  </ion-item>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Date et Heure:</ion-label>
        <ion-datetime [formControl]="myForm.controls['date']" displayFormat="DD-MMM-YYYY HH:mm" displayTimezone="utc"></ion-datetime>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Contacts</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option
            *ngFor="let contact of contacts$ | async"
            [value]="contact"
          >
            {{ contact.name }} ({{ contact.phoneNumber }})
          </ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-label>Numéro:</ion-label>
        <ion-input [formControl]="myForm.controls['phone_number_destination']" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Durée:</ion-label>
        <ion-input [formControl]="myForm.controls['duration']" placeholder="hh:mm:ss"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block"> Appeler </ion-button>
    </form>
</ion-content>
