<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="main_color" [fullscreen]="true">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div id="container">
    <form [formGroup]="myForm" class="ion-margin-bottom" (ngSubmit)="onLogin()" >
      <ion-item  [style.--background]="back_color" >
        <ion-label position="stacked" fixed>Votre numéro:</ion-label>
        <ion-input [formControl]="myForm.controls['phone_number']"></ion-input>
      </ion-item>
      <div  *ngIf="myForm.controls.phone_number.errors?.invalidPhone" class="validation-errors">
        Numéro de téléphone incorrec
      </div>
      <ion-button  [style.--background]="main_color" [disabled]="!myForm.valid" expand="block" type="submit" >Se connecter</ion-button>
    </form>
  <ion-button (click)="onLogout()"  expand="block"  color="light">Se déconnecter</ion-button>

  </div>

</ion-content>