<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <form [formGroup]="myForm" (ngSubmit)="onLogin()" >
            <ion-item>
              <ion-label for="numb" fixed>Votre numéro:</ion-label>
              <ion-input id="numb" [formControl]="myForm.controls['phone_number']"></ion-input>
            </ion-item>
            <div  *ngIf="myForm.controls.phone_number.errors?.invalidPhone" class="validation-errors">
              Numéro de téléphone incorrect
            </div>
            <ion-button [disabled]="!myForm.valid" size="block" type="submit" color="primary">Se connecter</ion-button>
          </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="onLogout()" size="block" color="light">Se déconnecter</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  </ion-content>
</ion-content>