<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-item class="header">
      Opérateur
    </ion-item>

    <ion-card>
      <ion-card-content>
        Votre compte Mobile a été crédité de 500Ar. Nouveau solde: 1000Ar
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        Votre compte Mobile a été crédité de 500Ar. Nouveau solde: 1000Ar
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        Votre compte Mobile a été crédité de 500Ar. Nouveau solde: 1000Ar
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        Votre compte Mobile a été crédité de 500Ar. Nouveau solde: 1000Ar
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        Votre compte Mobile a été crédité de 500Ar. Nouveau solde: 1000Ar
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        Votre compte Mobile a été crédité de 500Ar. Nouveau solde: 1000Ar
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        Votre compte Mobile a été crédité de 500Ar. Nouveau solde: 1000Ar
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        Votre compte Mobile a été crédité de 500Ar. Nouveau solde: 1000Ar
      </ion-card-content>
    </ion-card>


  </ion-content>
</ion-content>