<ion-header [translucent]="true">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item  [style.--background]="main_color" class="main-header">
    Achat d'offre
  </ion-item>
  
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Date et Heure:</ion-label>
        <ion-datetime [formControl]="myForm.controls['date']" displayFormat="DD-MMM-YYYY HH:mm" displayTimezone="utc"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Code de l'offre:</ion-label>
        <ion-input [formControl]="myForm.controls['code']" placeholder=""></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block"> Acheter </ion-button>
    </form>
</ion-content>