<ion-app>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon name="reorder-four-outline"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-title>Opérateur Kabs
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-menu swipeGesture="true" side="start" menuId="first" type="overlay" contentId="main">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="['/mobile-money']" routerDirection="forward">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
              Mobile money
          </ion-item>
          <ion-item [routerLink]="['/filetransfer']" routerDirection="forward">
            <ion-icon name="card-outline" slot="start"></ion-icon>
              Credit
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>