<ion-header [translucent]="true">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-item class="header"> Appel </ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime [formControl]="myForm.controls['date']" displayFormat="DD-MMM-YYYY HH:mm" displayTimezone="utc"></ion-datetime>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Contacts</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option
            *ngFor="let contact of contacts$ | async"
            [value]="contact"
          >
            {{ contact.name }} ({{ contact.phoneNumber }})
          </ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-label>Numero</ion-label>
        <ion-input [formControl]="myForm.controls['phone_number_destination']" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea [formControl]="myForm.controls['text']" rows="6" clearOnEdit="true"></ion-textarea>
      </ion-item>
      <ion-button type="submit" expand="block"> Envoyer </ion-button>
    </form>
  </ion-content>
</ion-content>