<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-custom-card (emitEvent)="go($event)" title="Achat offre" image="assets/offer/buy.svg" link="buy"></app-custom-card>
      </ion-col>
      <ion-col>
        <app-custom-card (emitEvent)="go($event)" title="Achat offre(Ar)" image="assets/offer/buy.svg" link="buyMobile"></app-custom-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    
  </ion-grid>
</ion-content>