<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col >
        <app-custom-card (emitEvent)="go($event)" title="Dépôt argent" [image]="deposit_img" link="deposit"></app-custom-card>
      </ion-col>
      <ion-col>
        <app-custom-card (emitEvent)="go($event)" title="Retrait argent" [image]="withdraw_img" link="withdraw"></app-custom-card>
      </ion-col>
      <ion-col>
        <app-custom-card (emitEvent)="go($event)" title="Transfer argent" [image]="transfer_img" link="transfer"></app-custom-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>