<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col >
        <app-custom-card (emitEvent)="go($event)" title="Achat crédit" image="assets/credit/buy.svg" link="achat"></app-custom-card>
      </ion-col>
      <ion-col>
        <app-custom-card (emitEvent)="go($event)" title="Achat Crédit(Ar)" image="assets/credit/buy_from_mobile.svg" link="buyMobile"></app-custom-card>
      </ion-col>
      <ion-col>
        <app-custom-card (emitEvent)="go($event)" title="Transfer crédit" image="assets/credit/transfer.svg" link="transfer"></app-custom-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>