<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content  [style.--background]="back_color"  [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Date et Heure:</ion-label>
      <ion-datetime [formControl]="myForm.controls['date']" displayFormat="DD-MMM-YYYY HH:mm" displayTimezone="utc"></ion-datetime>
    </ion-item>
    <ion-button type="submit" expand="block"> Valider </ion-button>

  </form>


  <ion-grid  class="ion-no-padding ion-no-margin">
    <ion-row>

      <ion-col>
        <ion-card [style.--background]= "main_color">
          <ion-card-header>
          <ion-card-subtitle style="color: white;" >Solde crédit</ion-card-subtitle>
          <ion-card-title style="color: #FCCA46;">
          {{credit | number}} Ar
          </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card [style.--background]= "main_color">
          <ion-card-header>
          <ion-card-subtitle  style="color: white;" >Solde Mobile money</ion-card-subtitle>
          <ion-card-title style="color: #FCCA46;">
          {{money | number}} Ar
          </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content>
          {{remainCalIntMess}}
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content>
          {{remainOffers}}
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
    

    
</ion-content>